ul
  list-style-type: none
  padding: 0
  margin: 0

.q-page
  display: flex
  flex-direction: column
  align-items: center
  background-color: $bg-color
  label.title
    color: $dark
    font-size: 28px
    font-weight: bold
    width: 850px
    margin-bottom: 20px

#board
  display: flex
  justify-content: center
  gap: 50px
  .list
    flex: 1
    max-width: 250px
    height: calc(100vh - 180px)
    background-color: $color-1
    .q-card__section
      &:first-child
        padding-top: 8px
        padding-bottom: 8px
        label
          color: $dark
          font-size: 16px
      ul
        padding: 12px
        height: calc(100vh - 290px)
        overflow-y: auto
        background-color: darken($color-1, 10)
      &:nth-child(2)
        padding-top: 0
      &:last-child
        padding-top: 0px
        .q-btn
          flex: 1
    .task
      margin-bottom: 10px
      .q-card__section
        padding: 8px
        padding-bottom: 8px
        &:first-child
          padding-bottom: 0
          label
            color: $dark
            font-size: 12px
        &:nth-child(2)
          padding-top: 0
          label
            font-size: 10px

#board > .list:nth-child(2n)
  background-color: $color-2
  .q-card__section > ul
    background-color: darken($color-2, 10)

#board > .list:nth-child(3n)
  background-color: $color-3
  .q-card__section > ul
    background-color: darken($color-3, 10)

#new-form
  width: 400px
  .q-card__section
    &:first-child
      label
        flex: 1
      .q-icon
        cursor: pointer
